# Skip diff in git
*.map binary
Plugin.js binary
Plugin.css binary

# Ignore files in releases
/.yarn export-ignore
/Resources/Private/Scripts export-ignore
/.editorconfig export-ignore
/.eslintrc.js export-ignore
/.nvmrc export-ignore
/.yarnrc.yml export-ignore
/package.json export-ignore
/yarn.lock export-ignore
